<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="haberlerConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=haberler;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>

    <customErrors mode="On"  defaultRedirect="Hata.aspx">

      <error statusCode="404" redirect="404SayfaYok.aspx"/>
    </customErrors>


    <compilation strict="false" explicit="true" targetFramework="4.0" debug="true"/>
  </system.web>
</configuration>
<!--ProjectGuid: 1c712333-e64b-4149-8e1a-864407e477c2-->